* {
    margin: 0;
    padding: 0;
}

body {
    background-color: aquamarine;
    justify-content: center;
}

img {
    width: 40%;

}


h1 {
    color: blue;
    text-align: center;
    margin-top: 20px;
}